.*
.idea/
.venv/
.vscode/
build
*.pyc
.DS_Store
dataset/
/*.egg-info
results/
*.bak
# Setuptools distribution folder.
/dist/
*build*
examples/*.index
examples/*.meta
examples/*.data-0*
examples/checkpoint
examples/*.pickle
